.DS_Store
contents.xcworkspacedata
*.xccheckout
UserInterfaceState.xcuserstate
*.xcscheme
!maccatalyst/maccatalyst.xcodeproj/xcshareddata/xcschemes/sim-mac.xcscheme
!maccatalyst/maccatalyst.xcodeproj/xcshareddata/xcschemes/ApeSim-MacCatalyst.xcscheme
xcschememanagement.plist
*.xcbkptlist

*.xcbkptlist
.vscode/*

*.o
*.gcda
*.gcno
*.gcov

/testcommand
/simape

/test/test_apescript
/test/test_gui
/test/test_sim
/test/test_sim_time

/toolkit/apesdk-json
/toolkit/json/2*.json
/toolkit/test/test_math
/toolkit/test/test_memory_list_run
/toolkit/test/test_object
/toolkit/test/test_object_file
/toolkit/test/test_object_file_vect2
/toolkit/test/test_object_string
/toolkit/test/test_prototype
/toolkit/unit/toolkit_tests

/script/unit/script_tests
/sim/unit/sim_tests
/render/unit/render_tests
/entity/test/test_immune
/entity/unit/entity_tests
/universe/unit/universe_tests
